body {
  background-color: #f0f0f0 !important;
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Raleway", sans-serif;
}

.page-wrapper {
  height: 100%;
  min-height: 100vh;
}

@media screen and (min-width: 768px) {
  .page-wrapper {
    width: calc(100% - 75px);
    margin-left: 75px;
  }
}

@media screen and (max-width: 767px) {
  .page-wrapper {
    height: calc(100% - 75px);
    margin-top: 75px;
  }
}

.page-wrapper section {
  max-width: 1140px;
  margin: auto;
  height: 100%;
}

.main-sidebar {
  z-index: 4;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-shadow: 8px 0px 15px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 8px 0px 15px 2px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .main-sidebar {
    height: 100%;
    width: 75px;
  }
}

@media screen and (max-width: 767px) {
  .main-sidebar {
    width: 100%;
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main-sidebar .main-brand {
  text-align: center;
  padding: 20px;
}

.main-sidebar .main-brand img {
  width: 35px;
}

.main-sidebar .side-list {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .main-sidebar .side-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .main-sidebar .side-list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.main-sidebar .side-list .side-link {
  padding: 20px;
  color: #999;
}

.side-popup {
  background-color: #f0f0f0;
  padding: 0 8px;
  z-index: 3;
  position: fixed;
  top: 0%;
  left: -300px;
  min-width: 200px;
  max-width: 300px;
  height: 100%;
  -webkit-box-shadow: 8px 0px 15px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 8px 0px 15px 2px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 767px) {
  .side-popup {
    min-width: 100% !important;
    left: 0 !important;
  }
  .side-popup .has-text-right {
    display: none;
  }
}

.side-popup .menu-label {
  color: #0023ff;
}

.w-200 {
  width: 200px;
}

@media screen and (min-width: 768px) {
  .slide {
    -webkit-transform: translateX(calc(300px + 75px));
            transform: translateX(calc(300px + 75px));
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
}

@media screen and (max-width: 767px) {
  .slide {
    -webkit-transform: translateY(calc(75px));
            transform: translateY(calc(75px));
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
}

@media screen and (min-width: 768px) {
  .retreat {
    left: -300px;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
}

@media screen and (max-width: 767px) {
  .retreat {
    top: 1000px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
}

.flat-card {
  position: relative;
  background-color: #fff;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  max-height: 270px;
  min-height: 270px;
}

.flat-card .image {
  margin: 40px 0;
}

.flat-card .image img {
  max-width: 100px;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .flat-card .image {
    margin: 20px 0 !important;
  }
  .flat-card .image img {
    max-width: 125px;
  }
}

.flat-card .product-info {
  margin: auto 0;
  text-align: center;
}

.flat-card .product-info .product-details-link {
  color: #333;
}

.flat-card .product-info .product-details-link .product-name {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.flat-card .product-info .product-details-link .product-name:hover {
  color: #0023ff;
}

.flat-card .product-info .product-description {
  font-size: 80%;
  color: #999;
}

.flat-card .product-price {
  color: #0023ff;
}

@media screen and (min-width: 768px) {
  .flat-card.is-long {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flat-card.is-long img {
    max-width: 220px;
  }
  .flat-card.is-long .product-info {
    text-align: left;
  }
  .flat-card.is-long .product-info .product-name {
    font-size: 1.2em;
  }
}

.flat-card .actions {
  color: #999;
  font-size: 110%;
  position: absolute;
  top: 10px;
  right: -20px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.flat-card .actions:hover {
  color: #0023ff;
  cursor: pointer;
}

.flat-card:hover {
  -webkit-box-shadow: 0px 5px 43px rgba(0, 0, 0, 0.11) !important;
          box-shadow: 0px 5px 43px rgba(0, 0, 0, 0.11) !important;
}

.flat-card:hover .actions {
  -webkit-transform: translate(-40px, 0);
          transform: translate(-40px, 0);
}

.is-clickable {
  cursor: pointer;
  -webkit-transition: all 0.3ms;
  transition: all 0.3ms;
}

.is-clickable:hover {
  color: #0023ff;
}

.hover-rotate {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.hover-rotate:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.is-icon {
  cursor: pointer;
}

.is-icon:hover {
  color: #0023ff;
}

.is-icon.is-active {
  stroke: #0023ff;
  color: #0023ff;
}

.is-muted {
  color: #999;
}

.is-drop-button {
  border-radius: 20px;
  border: 1px solid #fff;
  border: none;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  font-weight: 500;
}

.is-drop-button:hover {
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1) !important;
}

.section-header h2 {
  margin: 0.4em 0;
  font-size: 1.8em;
  text-transform: uppercase;
  color: #666;
}

.line {
  border-bottom: #cacaca 0.0128em solid;
}

.product {
  min-height: 100vh;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.product .product-preview {
  height: 500px;
  width: 100%;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .product .product-preview {
    width: 40%;
    height: 100%;
    min-height: inherit;
  }
}

.product .product-preview img {
  width: 40%;
  max-width: 300px;
}

.product .product-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4%;
}

.product .product-info .category-title {
  margin-bottom: 3em;
}

.product .product-info .product-name {
  font-size: 2.2em;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.product .product-info .product-name span {
  margin-left: 0.4em;
  font-size: 0.4em;
  color: #999;
}

.product .product-info .product-description {
  margin-bottom: 1.3em;
  color: #999;
}

.product .product-info .product-options {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .product .product-info .product-options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.product .product-info .product-options .product-option {
  font-size: 0.75em;
  margin-bottom: 1em;
}

@media screen and (min-width: 768px) {
  .product .product-info .product-options .product-option {
    margin-right: 1em;
    max-width: 150px;
  }
}

.product .product-info .product-options .product-option .option-name {
  font-weight: 500;
  margin-bottom: 0.5em;
}

.product .product-info .product-options :nth-child(2) {
  margin-left: auto;
}

.product .product-info .product-options .product-price {
  color: #0023ff;
  font-weight: bold;
  font-size: 2em;
}

.btn-base {
  background-color: #0023ff;
  color: #fff;
  border-radius: 20px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 1.6em 2.8em;
  color: #fff;
}

.btn-base:active, .btn-base:focus {
  color: #fff;
  outline: none !important;
}

.btn-base:hover {
  border: 1px solid #0023ff !important;
  background-color: transparent;
  color: #0023ff;
}

.number-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.number-input button:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

@media screen and (max-width: 767px) {
  .number-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: inherit;
  }
  .number-input span {
    width: inherit;
  }
}

.number-input-border > * {
  border-top: 1px solid #dadada !important;
  border-bottom: 1px solid #dadada !important;
}

.number-input-border button:first-child {
  border-left: 1px solid #dadada;
}

.number-input-border button:last-child {
  border-right: 1px solid #dadada;
}

.no-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dropdown-menu {
  opacity: 1;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.is-invisible {
  opacity: 0;
}

.color-base {
  color: #0023ff !important;
}

.color-muted {
  color: #999 !important;
}

h2 {
  font-size: 1.3em;
  text-transform: uppercase;
}

.borderless {
  border: none;
  border-color: transparent;
}

.left-radius {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}

.right-radius {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.is-width-inherit {
  width: inherit;
}

.m-auto {
  margin: auto;
}

.has-shadow {
  -webkit-box-shadow: 0px 5px 43px rgba(0, 0, 0, 0.11) !important;
          box-shadow: 0px 5px 43px rgba(0, 0, 0, 0.11) !important;
}

@media screen and (max-width: 767px) {
  .is-fullwidth-mobile {
    width: 100% !important;
  }
}

.cart-product {
  margin-bottom: 1em;
  position: relative;
  background-color: #fff;
  border-radius: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  max-height: 150px;
  min-height: 0;
}

.cart-product .image {
  margin: 15px;
  max-width: 100px;
  height: 100%;
}

.cart-product .cart-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-product .cart-info div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .cart-product .cart-info div:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart-product .cart-info div:last-child :first-child {
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1407px) {
  .cart-product .cart-info div:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart-product .cart-info div:last-child :first-child {
    margin-bottom: 5px;
  }
}

.wish-product {
  position: relative;
  background-color: #fff;
  border-radius: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  max-height: 150px;
  min-height: 0;
  border-bottom: 1px solid #eee;
}

.wish-product .image {
  margin: auto 0 auto 30px;
  max-width: 100px;
  height: 100%;
}

.wish-product .image img {
  width: 50px;
}

.wish-product p {
  color: #999;
  font-size: 80%;
}

.cart-order-summary {
  margin-bottom: 1em;
  position: relative;
  background-color: #fff;
  border-radius: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.7em;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.cart-order-summary .summary-item {
  margin-bottom: 0.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-order-summary .summary-item.mute-color {
  color: #999;
}

.dot-alert {
  position: absolute;
  top: -6px;
  right: -9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 9px;
  background: #0023ff;
  font-weight: 700;
}

.account-tabs .tab-active {
  color: #0023ff !important;
  border-bottom: #0023ff 2px solid !important;
}

.account-tabs a {
  color: #999;
  padding: 0.8em 1em !important;
  font-size: 95%;
}
/*# sourceMappingURL=main.css.map */