@import "media-queries.scss";

$base-color: #0023ff;
$mute-color: #999;
$white-color: #fff;
$black-color: #333;
$light-black: #666;
$bg-color: #f0f0f0;
$sidebarWidth: 75px;

body {
  background-color: $bg-color !important;
  font-family: "Raleway", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Raleway", sans-serif;
}

//wraps page content so it fits sidebar and navbar
// [ mobile = navbar, desktop,tablet = sidebar ]
.page-wrapper {
  height: 100%;
  min-height: 100vh;
  // Not mobile
  @include gt-xs {
    width: calc(100% - #{$sidebarWidth});
    margin-left: $sidebarWidth;
  }
  //Mobile
  @include lt-sm {
    height: calc(100% - #{$sidebarWidth});
    margin-top: $sidebarWidth;
  }
  section {
    max-width: 1140px;
    margin: auto;
    height: 100%;
  }
}

// Sidebar
.main-sidebar {
  z-index: 4;
  background-color: $white-color;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 8px 0px 15px 2px rgba(0, 0, 0, 0.1);
  // Desktop, tablet
  @include gt-xs {
    height: 100%;
    width: $sidebarWidth;
  }
  // Mobile transform horizontal
  @include lt-sm {
    width: 100%;
    height: $sidebarWidth;
    display: flex;
    align-items: center;
  }
  // Brand logo
  .main-brand {
    text-align: center;
    padding: 20px;
    img {
      width: 35px;
    }
  }
  //Navbar-category list
  .side-list {
    text-align: center;
    display: flex;
    width: 100%;
    // Desktop,tablet display in-line
    @include gt-xs {
      flex-direction: column;
    }
    // Mobile position menu icon on the end
    @include xs {
      justify-content: flex-end;
    }
    .side-link {
      padding: 20px;
      color: $mute-color;
    }
  }
}

.side-popup {
  @include xs {
    min-width: 100% !important;
    left: 0 !important;
    .has-text-right {
      display: none;
    }
  }
  background-color: $bg-color;
  padding: 0 8px;
  z-index: 3;
  position: fixed;
  top: 0%;
  left: -300px;
  min-width: 200px;
  max-width: 300px;
  height: 100%;
  box-shadow: 8px 0px 15px 2px rgba(0, 0, 0, 0.1);
  .menu-label {
    color: $base-color;
  }
}

.w-200 {
  width: 200px;
}

.slide {
  @include gt-xs {
    transform: translateX(calc(300px + #{$sidebarWidth}));
    transition: all 200ms ease-in-out;
  }
  @include xs {
    transform: translateY(calc(#{$sidebarWidth}));
    transition: all 300ms ease-in-out;
  }
}
.retreat {
  @include gt-xs {
    left: -300px;
    transition: all 200ms ease-in-out;
  }
  @include xs {
    top: 1000px;
    transition: all 300ms ease-in-out;
  }
}

// Product card
.flat-card {
  position: relative;
  background-color: $white-color;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100%;
  transition: all 0.5s;
  max-height: 270px;
  min-height: 270px;
  .image {
    margin: 40px 0;
    img {
      max-width: 100px;
      margin: auto;
    }
    // Mobile - bigger products images
    @include xs {
      margin: 20px 0 !important;

      img {
        max-width: 125px;
      }
    }
  }

  .product-info {
    margin: auto 0;
    text-align: center;

    .product-details-link {
      color: $black-color;
      .product-name {
        font-size: 0.8rem;
        text-transform: uppercase;
        &:hover {
          color: $base-color;
        }
      }
    }
    .product-description {
      font-size: 80%;
      color: $mute-color;
    }
  }
  .product-price {
    color: $base-color;
  }
  // If product is great importance (.is-long) and only on desktop
  @include gt-xs {
    &.is-long {
      display: flex;
      justify-content: space-around;
      align-items: center;
      img {
        max-width: 220px;
      }
      .product-info {
        text-align: left;
        .product-name {
          font-size: 1.2em;
        }
      }
    }
  }
  //Action buttons
  .actions {
    color: $mute-color;
    font-size: 110%;
    position: absolute;
    top: 10px;
    right: -20px;
    transition: all 200ms ease-in-out;
    &:hover {
      color: $base-color;
      cursor: pointer;
    }
  }

  //On flat-card:hover animate .action items
  &:hover {
    box-shadow: 0px 5px 43px rgba(0, 0, 0, 0.11) !important;
    .actions {
      transform: translate(-40px, 0);
    }
  }
}

.is-clickable {
  cursor: pointer;
  transition: all 0.3ms;
  &:hover {
    color: $base-color;
  }
}
.hover-rotate {
  transition: all 200ms ease-in-out;
  &:hover {
    transform: rotate(180deg);
  }
}

.is-icon {
  cursor: pointer;
  &:hover {
    color: $base-color;
  }
  &.is-active {
    stroke: $base-color;
    color: $base-color;
  }
}
.is-muted {
  color: $mute-color;
}

.is-drop-button {
  border-radius: 20px;
  border: 1px solid $white-color;
  border: none;
  transition: all 200ms;
  font-weight: 500;
  &:hover {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1) !important;
  }
}

.section-header {
  h2 {
    margin: 0.4em 0;
    font-size: 1.8em;
    text-transform: uppercase;
    color: $light-black;
  }
}
.line {
  border-bottom: rgb(202, 202, 202) 0.0128em solid;
}

.product {
  min-height: 100vh;
  height: 100%;
  @include gt-xs {
    display: flex;
  }

  .product-preview {
    @include gt-xs {
      width: 40%;
      height: 100%;
      min-height: inherit;
    }
    height: 500px;
    width: 100%;
    background-color: $white-color;

    img {
      width: 40%;
      max-width: 300px;
    }
  }
  .product-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4%;
    .category-title {
      margin-bottom: 3em;
    }

    .product-name {
      font-size: 2.2em;
      text-transform: uppercase;
      margin-bottom: 1rem;
      span {
        margin-left: 0.4em;
        font-size: 0.4em;
        color: $mute-color;
      }
    }

    .product-description {
      margin-bottom: 1.3em;
      color: $mute-color;
    }

    .product-options {
      width: 100%;
      display: flex;
      @include xs {
        flex-direction: column;
        text-align: center;
      }
      .product-option {
        font-size: 0.75em;
        margin-bottom: 1em;
        @include gt-xs {
          margin-right: 1em;
          max-width: 150px;
        }
        .option-name {
          font-weight: 500;
          margin-bottom: 0.5em;
        }
      }

      :nth-child(2) {
        margin-left: auto;
      }
      .product-price {
        color: $base-color;
        font-weight: bold;
        font-size: 2em;
      }
    }
  }
}

.btn-base {
  background-color: $base-color;
  color: $white-color;
  border-radius: 20px;
  transition: all 300ms ease-in-out;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 1.6em 2.8em;
  color: $white-color;
  &:active,
  &:focus {
    color: $white-color;
    outline: none !important;
  }
  &:hover {
    border: 1px solid $base-color !important;
    background-color: transparent;
    color: $base-color;
  }
}

.number-input {
  display: flex;
  button:focus {
    box-shadow: none !important;
  }
  @include xs {
    display: flex;
    width: inherit;
    span {
      width: inherit;
    }
  }
}

.number-input-border {
  & > * {
    border-top: 1px solid #dadada !important;
    border-bottom: 1px solid #dadada !important;
  }
  button:first-child {
    border-left: 1px solid #dadada;
  }
  button:last-child {
    border-right: 1px solid #dadada;
  }
}

.no-select {
  user-select: none;
}

.dropdown-menu {
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.is-invisible {
  opacity: 0;
}

.color-base {
  color: $base-color !important;
}
.color-muted {
  color: $mute-color !important;
}

h2 {
  font-size: 1.3em;
  text-transform: uppercase;
}

.borderless {
  border: none;
  border-color: transparent;
}
.left-radius {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
.right-radius {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.is-width-inherit {
  width: inherit;
}
.m-auto {
  margin: auto;
}

.has-shadow {
  box-shadow: 0px 5px 43px rgba(0, 0, 0, 0.11) !important;
}

.is-fullwidth-mobile {
  @include xs {
    width: 100% !important;
  }
}

// product card on cart page
.cart-product {
  margin-bottom: 1em;
  position: relative;
  background-color: $white-color;
  border-radius: 0.3rem;
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  transition: all 0.5s;
  max-height: 150px;
  min-height: 0;

  // Space around image
  .image {
    margin: 15px;
    max-width: 100px;
    height: 100%;
    img {
      // padding: 0.4em;
    }
  }

  // Information about product in cart
  .cart-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    // NumberInput and delete button manipulation
    div:last-child {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include xs {
        flex-direction: column;
        :first-child {
          margin-bottom: 5px;
        }
      }
      @include md {
        flex-direction: column;
        :first-child {
          margin-bottom: 5px;
        }
      }
    }
  }
  // On mobile device make image smaller
  @include xs {
    .image {
      // padding: 0.75em;
      img {
        // max-width: 100px !important;
      }
    }
  }
}

.wish-product {
  position: relative;
  background-color: $white-color;
  border-radius: 0.3rem;
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  transition: all 0.5s;
  max-height: 150px;
  min-height: 0;
  border-bottom: 1px solid #eee;

  // Space around image
  .image {
    margin: auto 0 auto 30px;
    max-width: 100px;
    height: 100%;
    img {
      width: 50px;
    }
  }
  p {
    color: $mute-color;
    font-size: 80%;
  }
}

.cart-order-summary {
  margin-bottom: 1em;
  position: relative;
  background-color: $white-color;
  border-radius: 0.3rem;

  display: flex;
  flex-direction: column;
  padding: 1.7em;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  .summary-item {
    margin-bottom: 0.6em;
    display: flex;
    justify-content: space-between;
    &.mute-color {
      color: $mute-color;
    }
  }
}

.dot-alert {
  position: absolute;
  top: -6px;
  right: -9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  background: $base-color;
  font-weight: 700;
}

.account-tabs {
  .tab-active {
    color: $base-color !important;
    border-bottom: $base-color 2px solid !important;
  }

  a {
    color: $mute-color;
    padding: 0.8em 1em !important;
    font-size: 95%;
  }
}
